[Unit]
Description=GXKB Layout Indicator
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/gxkb
Restart=on-failure

[Install]
WantedBy=default.target
