[Unit]
# GUI-style popup for sudo-like actions of e.g Rancher Desktop
Description=LXPolkit Authentication Agent
Documentation=man:lxpolkit(1)
Wants=dbus.service
After=dbus.service

[Service]
ExecStart=/usr/bin/lxpolkit
Restart=on-failure

[Install]
WantedBy=default.target
