[Unit]
Description=NetworkManager Applet
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/nm-applet
Restart=on-failure

[Install]
WantedBy=default.target
