[Unit]
Description=Set keyboard layout
# Caps lock is actually Control
# Switch between US and FR layout (toggle) by pressing BOTH Controls
# See xkeyboard-config(7) for info
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/setxkbmap -model pc104 -layout us,fr -option grp:ctrls_toggle,caps:ctrl_modifier
# Keep it after it ran once
RemainAfterExit=yes
# But make it restart when it fails, waiting 10s for resources to be available
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
