[user]
	name = Jb DOYON
	email = jb@jiby.tech
[alias]

	graph = log --decorate --oneline --graph
	sgraph = graph --simplify-by-decoration
	st = status --short
	exfil = !~/bin/btexfil
	extract = !~/bin/btextract
	allow-master-push= config --local receive.denyCurrentBranch updateInstead

[diff "sentences"]
	textconv = breaksentences