[Unit]
Description=LM Studio (selfhosted LLM) server
Documentation=https://lmstudio.ai/
After=network.target

[Service]
Type=forking
ExecStart=/home/jiby/.lmstudio/bin/lms server start
ExecStop=/home/jiby/.lmstudio/bin/lms server stop
Restart=on-failure
# Don't restart if exited OK
RestartPreventExitStatus=0

[Install]
WantedBy=default.target
